body {
  background-color: #121416;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #24282c;
  padding: 1em 1%;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #e4e7eb;
  border-radius: 0;
  border-bottom: 5px solid black;
}

.lead{
  padding: 1em 0 0;
}

#currentDay{
  margin-bottom: 0;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #121416;
}

.hour {
  color: #24282c;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color:#adc4c4;
  text-align: center;
  padding: 30px 1% 0;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #fcd45c;
  color: white;
}

.future {
  background-color: #505b62;
    color: white;
}

.saveBtn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #6AD1FC;
  color: white;
  border-style: none;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.saveBtn:hover{
  background-color:#5394B0;
  transition: all .3s ease-in-out;
}


.clearBtn{
  border-radius: 10px;
  border-radius: 10px;
  background-color: #8F51FC;
  color: white;
  border-style: none;
}

.clearBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.clearBtn:hover{
  background-color:#5E30B0;
  transition: all .3s ease-in-out;
}
