body {
  background-color: #1b1e21;
  font-family:'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

.display-3{
  font-size: 60px;
  color:#fff;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #24282c;
  padding: 1em 1%;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #c9cfd6;
  border-radius: 0;
  border-bottom: 1px solid #008080;
  padding-bottom: 1.25em;
}

.lead{
  font-size:16px;
  font-weight: 300;
}

#currentDay{
  padding: 1em 0 0;
  margin-bottom: 0;
  color:#FFD75E;
  font-size: 30px;
  font-weight: 100;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 10px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 3px solid #121416;
}

.hour {
  color: #121416;
  font-size:14px;
  font-weight: 500;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 3px solid #121416;
  background-color:#FFD75E;
  text-align: center;
  padding: 31px 1% 0;
}

.past {
  background-color: #f1f3f5;
  color: #c9cfd6;
  font-size: 14px;
}

.present {
  border: 4px solid #00ffff;
  background-color: #fff;
  color: #00b3b3;
  font-weight: 500;
}

.future {
  background-color: #8EA1AD;
  border-top: 3px solid #121416;
  color: #008080;
  font-size:14px;
  font-weight:500;
}

.saveBtn {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #FCCE44;
  color: white;
  border-style: none;
  border-left: 3px solid #121416;
  border-right: 3px solid #121416;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.saveBtn:hover{
  background-color:#fcd45c;
  transition: all .3s ease-in-out;
}


.clearBtn{
  border-radius: 10px;
  border-radius: 10px;
  background-color: #505b62;
  color: white;
  border-style: none;
}

.clearBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.clearBtn:hover{
  background-color:#465661;
  transition: all .3s ease-in-out;
}

footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1.25em 0 .75em;
  margin-top: 3em;
  background: #008080;
  color: #fff;
  text-align: center;
}

footer p{
  font-size: 14px;
}